{% extends "base_generic.html" %}

{% block content %}

<div class="row">
  <div class="col-md-8">

      <h2 class="display-4">Iniciar sesión.</h2>

      {% if form.errors %}
      <h2 class="display-5 text-danger">El nombre de usuario y la contraseña no coinciden. Vuelvelo a intentar.</h2>
      {% endif %}
      
      {% if next %}
      {% if user.is_authenticated %}
      <h2 class="display-5 text-danger">Su cuenta no tiene acceso a esta página. Para proceder, inicie sesión con una cuenta que tenga acceso.</h2>
      {% else %}
      {% endif %}
      {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="form-group">
        {{ form.as_p }}
      </div>


      <div class="form-group">
        <input type="submit" value="Iniciar sesión" class="btn btn-success" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>

  </div>
  <div class="col-md-2"></div>
</div>
</form>

<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
<script>
  $(document).ready(function () {
    $("input").addClass("form-control");
  });
</script>
{% endblock %}