<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Gestion Consumo Empresarial</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav list-group">
        
        <li class="list-group-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="list-group-item"><a href="{% url 'empresa_listar' %}">Empresas</a></li>
        {% if user.is_authenticated %}
          <li class="list-group-item">User: {{ user.get_username }}</li>
          <li class="list-group-item"><a href="{% url 'empresa_perfil' pk=empresa_pk %}?next={{request.path}}">Perfil</a></li>
          <li class="list-group-item"><a href="{% url 'logout'%}?next=/GestionConsumo">Logout</a></li>   
        {% else %}
          <li class="list-group-item"><a href="{% url 'login'%}?next=/GestionConsumo">Login</a></li>
          <li class="list-group-item"><a href="{% url 'empresa_new'%}?next={{request.path}}">Registrarse</a></li>   
        {% endif %} 
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>