{% extends "base_generic.html" %}

<!-- FUNCIONES NUESTRAS en TEMPLATETAGS-->
{% load auth_extras %}

{% block content %}
<div class="jumbotron jumbotron-fuid">
  <div class="container">
    <h1 class="display-4">{{ empresa.nombre }}</h1>
    <h2 class="lead">{{ titulo }}.</h2>
  </div>
</div>

{% if user.is_authenticated %}
{% if user|empresa:empresa.pk %}

<p><strong>Año:</strong>
  <select class="form-control" id="anoCambiar">
    <option id="opcionEliminar" value="">Seleccione un año para ver los consumos</option>
    {% for a in anos %}
    <option value="{{ a }}">{{ a }}</option>
    {% endfor %}
  </select>
</p>
<div id="aqui"></div>
<table>
  <tr>
    <th>Activo</th>
    <th>Tipo</th>
    <th>Consumo</th>
    <th>CO2 emitido</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
</table>
<br>
<p><a href="./añadir" class="btn btn-success">Añadir Consumo</a></p>
<script>
  $(document).ready(function () {

    $('#anoCambiar').change(function (e) {
      $('#opcionEliminar').remove();
      var url = "./cargarAno?ano=" + $('#anoCambiar option:selected').val();
      //alert(url)
      $.ajax({
        url: url,
        success: function (result) {
          console.log(result);
          $('.filas').remove();
          $("tr").after(result);
        }
      });
    });
  });
</script>
{% endif %}
{% endif %}
{% endblock %}