{% extends "base_generic.html" %}

<!-- FUNCIONES NUESTRAS en TEMPLATETAGS-->
{% load auth_extras %}

{% block content %}
<div class="jumbotron jumbotron-fuid">
  <div class="container">
    <h1 class="display-4">{{ empresa.nombre }}</h1>
    <h2 class="lead">{{ titulo }}.</h2>
  </div>
</div>

{% if user.is_authenticated %}
{% if user|empresa:empresa.pk %}

<p>Año: 
  <select>
    <option value=""></option>
  </select>
</p>

<table>
  <tr>
    <th>Activo</th>
    <th>Tipo</th>
    <th>Consumo</th>
    <th>CO2 emitido</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>
{% for consumo in consumos %}
  <tr>
    <td>{{ consumo.id_activo.nombre }}</td>
    <td>{{ consumo.tipo }}</td>
    <td>{{ consumo.consumo }}</td>
    <td>{{ consumo.co2_emitido }}</td>
    <td><a href=# >Editar</a></td>
    <td><a href=# >Eliminar</a></td>
  </tr>
{% endfor %}
</table>

<p><a href="./añadir">Añadir Consumo</a></p>

{% endif %}
{% endif %}
{% endblock %}