{% extends "base_generic.html" %}

<!-- FUNCIONES NUESTRAS en TEMPLATETAGS-->
{% load auth_extras %}

{% block content %}
<div class="jumbotron jumbotron-fuid">
  <div class="container">
    <h1 class="display-4">{{ empresa.nombre }}</h1>
    <p class="lead">En esta página podras gestionar la información de tu empresa.</p>
  </div>
</div>

  <table>
    <tr>
  {% if user.is_authenticated %}
    {% if user|empresa:empresa.pk %}
      {% if user|has_group:"administrador" %}
          <th>Visualizacion</th>
          <th>Activos</th>
          <th>Consumos</th>
          <th>Usuarios</th>
        </tr>
        <tr>
      {% else %}
          <th>Visualizacion</th>
          <th>Activos</th>
          <th>Consumos</th>
        </tr>
        <tr>   
      {% endif %}
    {% endif %}
  {% endif %}

      <td colspan="100%">{% block contenido %}{% endblock %}</td>
    </tr>
  </table>

{% endblock %}