{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron jumbotron-fuid">
  <div class="container">
    <h1 class="display-4">Gestión de consumo</h1>
    <p class="lead">En esta página podras registrar tu empresa y poder gestionar su consumo.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'empresa_new'%}?next={{request.path}}" role="button">Registra tu empresa</a>
    </p>
  </div>
</div>

<h2>Dynamic content</h2>

<p>The database has the following record counts:</p>
<ul>
  <li><strong>Empresas:</strong> {{ num_empresas }}</li>
</ul>

{% endblock %}